:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #686868;
    --select-color: #e34444;
    --border-line: #363636;
    --navbar-color: #222222;

    --height-navbar: 215px;
    --height-navbar-first: 40px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.67%;
    line-height: 1.6rem;
    font-family: 'roboto', 'sans-serif';
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full-width {
    width: 100%
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}