/* Header navbar */
/* Header navbar first */
.headding {
    height: 215px;
}

.header{
    display: flex;
    height: var(--height-navbar-first);
    background-color: var(--navbar-color);
}

.header__navbar-first {
    top: 0;
    display: flex;
    justify-content: space-between;
    height: var(--height-navbar-first);
}

.header__navbar-first-list {
    list-style: none; 
    padding-left: 0;
}

.header__navbar-first-list-item-left {
    position: relative;
    font-size: 1.3rem;
    color: var(--text-color);
    display: inline-block;
    padding-right: 10px;
    font-weight: 900;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

.header__navbar-first-flag {
    z-index: 1;
    display: none;
    min-width: 100px;
    left: 0;
    padding-left: 0;
    margin-top: 10px;
    position: absolute;
    list-style: none;
    background-color: var(--white-color);
    border: 2px solid #f5f5f5;
}

.header__navbar-first-flag::before {
    content: "";
    border-width: 8px 9px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 68px;
    top: -18px;
}

.header__navbar-first-flag::after {
    position: absolute;
    width: 76%;
    right: 24px;
    top: -19px;
    height: 23px;
    content: "";
    display: block;
}

.header__navbar-first-flag-select {
    padding-left: 8px;
    width: 100%;
    line-height: 3.3rem;
    font-size: 1.2rem;
    font-weight: 900;
}

.header__navbar-first-flag-select:hover {
    background-color: #f1f1f1;
}

.header__navbar-first-monney {
    display: none;
    min-width: 90px;
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    background-color: var(--white-color);
    border: 2px solid #f5f5f5;
    position: absolute;
}

.header__navbar-first-list-item-left:hover .header__navbar-first-monney {
    display: block;
}

.header__navbar-first-list-item-left:hover .header__navbar-first-flag {
    display: block;
}

.header__navbar-first-monney::before {
    content: "";
    border-width: 8px 9px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 61px;
    top: -18px;
}

.header__navbar-first-monney::after {
    position: absolute;
    width: 50%;
    right: 44px;
    top: -19px;
    height: 23px;
    content: "";
    display: block;
}

.header__navbar-first-monney-select {
    padding-left: 8px;
    width: 100%;
    line-height: 3.3rem;
    font-size: 1.2rem;
    font-weight: 900;
}

.header__navbar-first-monney-select:hover {
    background-color: #f1f1f1;
}



.header__navbar-first-list-item-right,
.header__navbar-first-list-item-link {
    position: relative;
    font-size: 1.3rem;
    color: var(--text-color);
    display: inline-block;
    padding: 0 12px;
    font-weight: 900;
    line-height: 20px;
    text-decoration: none;
}

.header__navbar-first-list-item-link:hover {
     color: var(--select-color);
}


.header__navbar-first-list-icon {
    margin-right: 8px;
    font-size: 1.3rem;
}

.header__navbar-first-list-item-left {
    border-right: 1px solid var(--border-line);
    height: 100%;
}

.header__navbar-first-list-item-left:last-child {
    border: none;
    padding: 0 12px;
}

.header__navbar-first-list-item-right {
    border-left: 1px solid var(--border-line);
    height: 100%;
}

.header__navbar-first-list-item-right:last-child {
    border-right: 1px solid var(--border-line);
    height: 100%;
}

/* Header navbar between */

.header__navbar-between {
    display: flex;
}

.header__navbar-between {
    height: var(--height-navbar-between);
    align-items: center;
}

.header__navbar-between-select {
    display: flex;
}

.header__navbar-between-select-icon--cover {
    background-color: #eaeaea;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    margin: auto 0;
    cursor: pointer;
}

.header__navbar-between-select-icon-img {
    text-align: center;
    line-height: 42px;
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__navbar-between-select-title {
    margin: auto 12px;
}

.header__navbar-between-select-title--text {
    margin: 0;
}

.header__navbar-between-select-title--text-title {
    text-transform: uppercase;
    color: #333333;
    font-weight: 600;
    font-size: 1.4rem;
    text-decoration: none;
}

.header__navbar-between-select-title--text-describe {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.2rem;
}

/* HEADER NAVBAR MENU */
.header__navbar-menu {
    position: relative;
    height: var(--height-menu);
    display: flex;
    justify-content: space-between;
}

.header__navbar-menu::before,
.header__navbar-menu::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: url("http://demo.snstheme.com/wp/simen/wp-content/themes/snssimen/assets/img/double-dotted.png");
    left: 0;
    top: 0;
}

.header__navbar-menu:after {
    position: absolute;
    bottom: 0;
    top: inherit;
}

.header__navbar-menu-list-item {
    margin-top: 0;
    padding-left: 0;
    display: flex;
    list-style: none;
}

.header__navbar-menu-list-select {
    padding-right: 36px; 
}

.header__navbar-menu-item-link {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 50px;
}

.header__navbar-menu-item-link:hover {
    color: var(--select-color);
}

.header__navbar-menu-search-cart {
    display: flex;
    margin: auto 0;
}

.header__navbar-menu-list-search-icon {
    margin-top: 3px;
    font-size: 1.7rem;
    margin-right: 20px;
    color: var(--text-color);
}

.header__navbar-menu-list-cart {
    border-left: 1px solid var(--text-color);
    margin: auto 0;
    position: relative;
    cursor: pointer;
}

.header__navbar-menu-list-cart:hover .header__navbar-menu-list-cart--no {
    display: block;
}

.header__navbar-menu-list-cart--no {
    display: none; 
    min-width: 300px;
    height: 92px;
    left: 0;
    padding-left: 0;
    margin-top: 17px;
    margin-left: -200px;
    position: absolute;
    list-style: none;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.header__navbar-menu-list-cart--no-title {
    padding-left: 20px;
    font-size: 1.4rem;
    line-height: 92px;
    color: var(--text-color);
}

.header__navbar-menu-list-cart-nume {
    color: red;
    font-size: 1.3rem;
}

.header__navbar-menu-list-cart-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
}

.header__navbar-menu-list-cart-icon {
    margin-left: 24px;
    margin-right: 6px;
}

/* select menu */

.header__navbar-menu-item-home-link,
.header__navbar-menu-item-blog-link,
.header__navbar-menu-item-furiure-link,
.header__navbar-menu-item-short-link {
    text-decoration: none;
}

.header__navbar-menu-list-select:hover .header__navbar-menu-item-home,
.header__navbar-menu-list-select:hover .header__navbar-menu-item-blog,
.header__navbar-menu-list-select:hover .header__navbar-menu-item-furiure,
.header__navbar-menu-list-select:hover .header__navbar-menu-item-bedroom,
.header__navbar-menu-list-select:hover .header__navbar-menu-item-short {
    display: block;
}

.header__navbar-menu-item-home,
.header__navbar-menu-item-blog {
    z-index: 1;
    margin-top: -3px;
    display: none;
    list-style: none;
    position: absolute;
    padding: 10px 0;
}

.header__navbar-menu-item-home-select,
.header__navbar-menu-item-blog-select {
    padding-left: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    line-height: 32px;
}

.header__navbar-menu-item-home-select:hover,
.header__navbar-menu-item-blog-select:hover {
    color: var(--select-color);
}



.header__navbar-menu-item-furiure,
.header__navbar-menu-item-bedroom {
    display: none;
    z-index: 1;
    margin-top: -3px;
    padding: 28px 32px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 2px 6px rgb(105 98 98 / 30%); 
    border: 0.2px solid rgb(212 202 202);
}

.header__navbar-menu-item-furiure-title,
.header__navbar-menu-item-short-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 6px;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid #e0dede;
}

.header__navbar-menu-item-furiure-item,
.header__navbar-menu-item-short-item {
    list-style: none;
    padding-left: 0;
    font-size: 1.3rem;
    color: var(--text-color);
    line-height: 26px;
}

.header__navbar-menu-item-furiure-item-select:hover,
.header__navbar-menu-item-short-item-select:hover {
    color: var(--select-color);
}

.header__navbar-menu-item-bedroom-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--black-color);
}

.header__navbar-menu-item-bedroom-describe {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.header__navbar-menu-item-short {
    display: none;
    z-index: 1;
    left: 0;
    margin-top: -3px;
    padding: 28px 18px 0 32px;
    position: absolute;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 2px 6px rgb(105 98 98 / 30%); 
    border: 0.2px solid rgb(212 202 202);
    margin-left: 0px;
} 

.header__navbar-menu-item-short-img {
    width: 100%;
    height: 100%;
}


/* CONTAINER - 1/7 -slider */

.container__slider {
    height: 549px;
    margin-top: 24px;
    /* background-color: rgb(235, 238, 206); */
}

.container__slider-item-two-cover {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 740px) {
    .container__slider-item-two-cover {
        padding-top: 18px;
    }
}
@media (min-width: 1113px) {
    .container__slider-item-two-cover {
        padding-top: 22px;
    }
}
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide.container__slider-item-two-cover {
        padding-top: 22px;
    }
}

.container__slider-item-left-img {
    width: 100%;
    height: 100%;
}

.container__slider-item-two-down-img {
    width: 100%;
    height: 100%;
}

/* CONTAINER 2/7 LATEST */

/* header 2/7 */
.container__latest {
    height: 462px;
    position: relative;
    /* background-color: rgb(235, 238, 206);  */
}

.container__latest-list {
    position: relative;
    padding: 0;
    display: flex;
    list-style: none;
}

.container__latest-list::before {
    position: absolute;
    content: '';
    z-index: -1;
    height: 1px;
    width: 100%;
    background-color: var(--border-color);
    top: 40%;
}

.container__latest-list-item {
    background-color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0 22px;
    border-right: 1px solid var(--border-color);
}

.container__latest-list-item:first-child{
    padding-left: 0;
}

.container__latest-list-item:last-child{
    border-right: none;
}

.container__latest-list-item-link {
    position: relative;
    padding-bottom: 8px;
    line-height: 1;
    text-decoration: none;
    color: var(--black-color);
}

.container__latest-list-item-link::after {
    position: absolute;
    content: '';
    left: 50%;
    border: solid transparent;
    /* -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0); */
    transform: translate(-50%, 0);
    border-top-color: var(--text-color);
    border-width: 5px;
    bottom: -2px;
    /* opacity: 0;
    visibility: hidden;  */
}

.container__latest-border-item {
    position: relative;
    padding-bottom: 2px;
    display: inline-block;
    color: var(--black-color);
    line-height: 1;
}

.container__latest-border-item::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--text-color);
    content: '';
    /* opacity: 0;
    visibility: hidden; */
}

/* content 2/7 */
.container__item {
    height: 350px;
    background-color: rgb(235, 238, 206);
}

.container__item-img {

}

.container__item-title {

}

.container__item-title-name {

}

.container__item-title-money {

}

.container__item-title-star {

}

.container__item-title-star-icon {
    
}


